{% load static %}
<html>
    <head>
        <title>Django Firebase Integration</title>
        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="{% static 'js/firebase.js' %}"></script>
        <link rel="manifest" href="{% static 'manifest.json' %}">
    </head>
    <body>
        Webtechnika Firebase Django Demo
    </body>
</html>