<html>
    <head>
        <title>Django Firebase Integration</title>
        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
        <script>
          // Initialize Firebase
          // TODO: Replace with your project's customized code snippet
          var config = {
            apiKey: "AIzaSyDtTBgUjVfgs1VK4kT7wOIQZdrSy4TaxpE",
            authDomain: "webtechnika-push-notifications.firebaseapp.com",
            projectId: "webtechnika-push-notifications",
          };
          firebase.initializeApp(config);
        </script>
    </head>
    <body>

    </body>
</html>